
QLineEdit{
	font-family: Dosis SemiBold;
	font-size: 14px;

	padding: 1px;

	border: none;
	border-radius: 3px;

	color: white;
	selection-color: white;

	background-color: rgb(10, 10, 10);
	selection-background-color: rgb(100, 100, 100);
}
